@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Mobile Survey CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- DataTables -->
    <link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="~/js/sweetalert2/sweetalert2.min.css" />
    @RenderSection("Styles", false)
</head>

<body>
    <!-- Left Sidenav -->
    <div class="left-sidenav">
        <!-- LOGO -->
        <div class="brand">
            <h3>Digital Dashboard</h3>
        </div>
        <!--end logo-->
        <div class="menu-content h-100" data-simplebar>
            <ul class="metismenu left-sidenav-menu">
                <li class="menu-label mt-0">Main</li>
                <li>
                    <a href="javascript: void(0);"> <i data-feather="home" class="align-self-center menu-icon"></i><span>Mobile Survey</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Home")"><i class="ti-control-record"></i>Data Customer</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Result")"><i class="ti-control-record"></i>Survey Result</a></li>
                    </ul>
                </li>
                @if (Context.Session.GetString("GroupCode") == "ADM")
                {
                    <li>
                        <a href="javascript: void(0);"> <i data-feather="home" class="align-self-center menu-icon"></i><span>Motion Credit</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("DanaRumah", "Siap")"><i class="ti-control-record"></i>Motion Credit - Dana Rumah</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("DanaMobil", "Siap")"><i class="ti-control-record"></i>Motion Credit - Dana Mobil</a></li>
                        </ul>
                    </li>
                }
                <hr class="hr-dashed hr-menu">
            </ul>
        </div>
    </div>
    <!-- end left-sidenav-->

    <div class="page-wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- Navbar -->
            <nav class="navbar-custom">
                <ul class="list-unstyled topbar-nav float-right mb-0">
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <span class="ml-1 nav-user-name hidden-sm">
                                @ViewData["UserName"] &nbsp;&nbsp;
                            </span>
                            <img src="~/assets/images/users/user-5.jpg" alt="profile-user" class="rounded-circle thumb-xs" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i data-feather="settings" class="align-self-center icon-xs icon-dual mr-1"></i> Settings</a>
                            <div class="dropdown-divider mb-0"></div>
                            <a class="dropdown-item" href="@Url.Action("Logout", "Account")"><i data-feather="power" class="align-self-center icon-xs icon-dual mr-1"></i> Logout</a>
                        </div>
                    </li>
                </ul><!--end topbar-nav-->

                <ul class="list-unstyled topbar-nav mb-0">
                    <li>
                        <button class="nav-link button-menu-mobile">
                            <i data-feather="menu" class="align-self-center topbar-icon"></i>
                        </button>
                    </li>
                    <li class="creat-btn">
                        <div class="nav-link">
                            <a class=" btn btn-sm btn-soft-primary" href="#" role="button">@ViewData["BranchName"]</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- end navbar-->
        </div>
        <!-- Top Bar End -->
        <!-- Page Content-->
        <div class="page-content">
            <!-- Page Content-->
            @RenderBody()
            <!-- end page content -->

            <footer class="footer text-center text-sm-left">
                <span>&copy; 2020 MNC Finance</span>
            </footer><!--end footer-->
        </div>
        <!-- end page content -->
    </div>
    <!-- end page-wrapper -->
    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/metismenu.min.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/js/simplebar.min.js"></script>
    <script src="~/assets/js/moment.js"></script>
    <script src="~/assets/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- Required datatable js -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
    @*<script src="~/assets/pages/jquery.datatable.init.js"></script>*@
    <!-- SweetAlert -->
    <script src="~/js/sweetalert2/sweetalert2.all.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    @RenderSection("Scripts", false)

</body>

</html>