@using SurveyConsole.Models.FACEDB;
@model SiapDr;
@{
    String siapurl = TempData["SiapUrl"].ToString();
    String sts = Model.MfinState;

    String strMonthlyIncome = Convert.ToDouble(Model.MonthlyIncome).ToString("###,###,###,###,###,###").Replace(",", ".");
    String strSubmittedAmount = Convert.ToDouble(Model.SubmittedAmount).ToString("###,###,###,###,###,###").Replace(",", ".");
    String strFee = Convert.ToDouble(Model.Fee).ToString("###,###,###,###,###,###").Replace(",", ".");
    String strEstimatedInstallment = Convert.ToDouble(Model.EstimatedInstallment).ToString("###,###,###,###,###,###").Replace(",", ".");
    String strEstimatedDisbursement = Convert.ToDouble(Model.EstimatedDisbursement).ToString("###,###,###,###,###,###").Replace(",", ".");

    String strPbbPhoto = Model.PbbPhoto.Replace("C:\\", "/").Replace("\\", "/").Replace("Application/APISIAP/Upload/DanaRumah", "danarumah");
    String strHousePhoto = Model.HousePhoto.Replace("C:\\", "/").Replace("\\", "/").Replace("Application/APISIAP/Upload/DanaRumah", "danarumah");
    String strNpwpPhoto = Model.NpwpPhoto.Replace("C:\\", "/").Replace("\\", "/").Replace("Application/APISIAP/Upload/DanaRumah", "danarumah");

    String lblsts = "";
    String iconactivity = "";
    String textactivity = "";

    String stsbtnsurveyprogress = "";
    String stsbtnsurveydone = "";
    String stsbtnappraisalunpaid = "";
    String stsbtnappraisalpaid = "";
    String stsbtnappraisalonprogress = "";
    String stsbtnappraisaldone = "";
    String stsbtninputcore = "";
    String stsbtncommitteeapprove = "";
    String stsbtncommitteereject = "";
    String stsbtncommitteecancel = "";
    String stsbtnterminate = "";
    String stsbtnsignonprogress = "";
    String stsbtnsigndone = "";
    String stsbtngoliveactive = "";
    String stsbtngolivedisburse = "";

    String cbtnsurveyprogress = "";
    String cbtnsurveydone = "";
    String cbtnappraisalunpaid = "";
    String cbtnappraisalpaid = "";
    String cbtnappraisalonprogress = "";
    String cbtnappraisaldone = "";
    String cbtninputcore = "";
    String cbtncommitteeapprove = "";
    String cbtncommitteereject = "";
    String cbtncommitteecancel = "";
    String cbtnterminate = "";
    String cbtnsignonprogress = "";
    String cbtnsigndone = "";
    String cbtngoliveactive = "";
    String cbtngolivedisburse = "";
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="datadiri-tab" data-toggle="tab" href="#datadiri" role="tab" aria-controls="datadiri" aria-selected="true">Data Diri</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="financing-tab" data-toggle="tab" href="#financing" role="tab" aria-controls="financing" aria-selected="false">Data Pembiayaan & Unit</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <br />
    <div class="tab-pane fade show active" id="datadiri" role="tabpanel" aria-labelledby="datadiri-tab">
        <div class="row">
            <div class="col-md-4">
                <div class="form">
                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">Nama Client</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="name" value="@Model.FullName" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nik" class="col-sm-4 col-form-label">NIK Client</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="nik" value="@Model.NikNumber" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ttl" class="col-sm-4 col-form-label">Tempat/Tanggal Lahir</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="ttl" value="@(Model.PlaceOfBirth + ", " + (Model.BirthDate.HasValue ? Model.BirthDate.Value.ToString("dd-MM-yyyy") : ""))" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mothername" class="col-sm-4 col-form-label">Nama Ibu Kandung</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="mothername" value="@(Model.MothersName)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="spouse" class="col-sm-4 col-form-label">Nama Pasangan</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="spouse" value="@(Model.SpouseName)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="spousenik" class="col-sm-4 col-form-label">NIK Pasangan</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="spousenik" value="@(Model.SpouseNikNumber)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="jobtype" class="col-sm-4 col-form-label">Bekerja/Tidak Bekerja</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="jobtype" value="@(Model.JobType)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="company" class="col-sm-4 col-form-label">Nama Perusahaan</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="company" value="@(Model.CompanyName)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="company" class="col-sm-4 col-form-label">Nama Perusahaan</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="company" value="@(Model.CompanyName)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="companyaddr" class="col-sm-4 col-form-label">Nama Perusahaan</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="companyaddr" value="@(Model.CompanyAddress)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="companyphone" class="col-sm-4 col-form-label">No Telp Perusahaan</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="companyphone" value="@(Model.CompanyPhone)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="income" class="col-sm-4 col-form-label">Nett Pendapatan / Bulan (IDR)</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="income" value="@(strMonthlyIncome)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="email" value="@(Model.Email)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="npwp" class="col-sm-4 col-form-label">No NPWP</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="npwp" value="@(Model.NpwpNumber)" readonly disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form">
                    <div class="form-group row">
                        <label for="address" class="col-sm-4 col-form-label">Alamat Client</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="address" value="@(Model.DomAddress)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="village" class="col-sm-4 col-form-label">Kelurahan</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="village" value="@(Model.DomSubdistrict2)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="subdistrict" class="col-sm-4 col-form-label">Kecamatan</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="subdistrict" value="@(Model.DomSubdistrict1)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="province" class="col-sm-4 col-form-label">Provinsi</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="province" value="@(Model.DomProvince)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="postalcode" class="col-sm-4 col-form-label">Kode Pos</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="postalcode" value="@(Model.DomPostalCode)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ownership" class="col-sm-4 col-form-label">Jenis Domisili</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="ownership" value="@(Model.DomOwnership)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="plnnumber" class="col-sm-4 col-form-label">No Meter Listrik</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="plnnumber" value="@(Model.PlnNumber)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pamnumber" class="col-sm-4 col-form-label">No Meter PAM</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="pamnumber" value="@(Model.PamNumber)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="bankaccountname" class="col-sm-4 col-form-label">Bank Account Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="bankaccountname" value="@(Model.BankAccountName)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="bankname" class="col-sm-4 col-form-label">Bank Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="bankname" value="@(Model.BankName)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="bankaccountnumber" class="col-sm-4 col-form-label">Bank Account Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="bankaccountnumber" value="@(Model.BankAccountNumber)" readonly disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="financing" role="tabpanel" aria-labelledby="financing-tab">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form">
                            <div class="form-group row">
                                <label for="siapid" class="col-sm-4 col-form-label">Motion ID</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="siapid" value="@(Model.SiapId)" readonly disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="siapid" class="col-sm-4 col-form-label">Contract No.</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="contractno" value="@(Model.ContractNo)" readonly disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="principal" class="col-sm-4 col-form-label">Pokok Hutang (IDR)</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="principal" value="@(strSubmittedAmount)" readonly disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fee" class="col-sm-4 col-form-label">Biaya Admin (IDR)</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="fee" value="@(strFee)" readonly disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="tenor" class="col-sm-4 col-form-label">Tenor</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="tenor" value="@(Model.Tenor)" readonly disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="installment" class="col-sm-4 col-form-label">Angsuran (IDR)</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="installment" value="@(strEstimatedInstallment)" readonly disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="installment" class="col-sm-4 col-form-label">Pendanaan (IDR)</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="disbursement" value="@(strEstimatedDisbursement)" readonly disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pbb" class="col-sm-4 col-form-label">Foto PBB</label>
                                <div class="col-sm-8">
                                    <a href="@(siapurl + strPbbPhoto)" target="_blank">Foto PBB</a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pbb" class="col-sm-4 col-form-label">Foto Unit</label>
                                <div class="col-sm-8">
                                    <a href="@(siapurl + strHousePhoto)" target="_blank">Foto Unit</a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pbb" class="col-sm-4 col-form-label">Foto NPWP</label>
                                <div class="col-sm-8">
                                    <a href="@(siapurl + strNpwpPhoto)" target="_blank">Foto NPWP</a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="npwp" class="col-sm-4 col-form-label">Reason Reject</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="reasonreject" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                </div>
                                <div class="col-sm-4">
                                    <form id="frmrejectdata">
                                        <button type="button" class="btn btn-danger px-3 mt-2" v-on:click="rejectDanaRumah()">Reject</button>
                                    </form>
                                </div>
                                <div class="col-sm-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Activity (Tracking Status)</h4>
                    </div><!--end card-header-->
                    <div class="card-body">

                        <div class="slimscroll activity-scroll">
                            <div class="activity">
                                <div class="activity-info">
                                    <div class="icon-info-activity">
                                        <i class="las la-edit"></i>
                                    </div>
                                    <div class="activity-info-text">
                                        <div class="card report-card">
                                            <div class="card-body">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col">
                                                        <p class="text-muted mb-0 fw-semibold">
                                                            Status :
                                                        </p>
                                                        <h3 class="text-muted m-0">
                                                            Entry Data
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div><!--end card-body-->
                                        </div>
                                    </div>
                                </div>

                                @{
                                    if (sts == "push-to-mfin")
                                    {
                                        stsbtnsurveyprogress = "";
                                        cbtnsurveyprogress = "btn btn-sm btn-warning px-3 mt-2";
                                    }
                                    else
                                    {
                                        stsbtnsurveyprogress = "disabled";
                                        cbtnsurveyprogress = "btn btn-sm btn-outline-secondary px-3 mt-2";
                                    }

                                    if (sts == "survey-onprogress")
                                    {
                                        stsbtnsurveydone = "";
                                        cbtnsurveydone = "btn btn-sm btn-success px-3 mt-2";
                                    }
                                    else
                                    {
                                        stsbtnsurveydone = "disabled";
                                        cbtnsurveydone = "btn btn-sm btn-outline-secondary px-3 mt-2";
                                    }


                                    if (sts == "push-to-mfin" || sts == "survey-onprogress")
                                    {
                                        lblsts = sts;
                                        iconactivity = " bg-soft-primary";
                                        textactivity = "text-dark ";
                                    }
                                    else
                                    {
                                        lblsts = "";
                                        iconactivity = "";
                                        textactivity = "text-muted";
                                    }
                                }
                                <div class="activity-info">
                                    <div class="icon-info-activity">
                                        <i class="las la-home @(iconactivity)"></i>
                                    </div>
                                    <div class="activity-info-text">
                                        <div class="card report-card">
                                            <div class="card-body">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col">
                                                        <p class="@(textactivity) mb-0 fw-semibold">
                                                            Status : @(lblsts)
                                                        </p>
                                                        <h3 class="@(textactivity) m-0">
                                                            Survey Data
                                                        </h3>
                                                    </div>
                                                </div>
                                                <hr class="hr-dashed">
                                                <form id="frmsurveydata">
                                                    <input class="form-control" id="sts" value="@(sts)" hidden />
                                                    <div class="mb-3 row">
                                                        <label for="horizontalInput2" class="col-sm-2 form-label align-self-center mb-lg-0">Surveyor</label>
                                                        <div class="col-sm-10">
                                                            <select class="form-control" id="surveyor" name="surveyor" @(stsbtnsurveyprogress)>
                                                                <option value="">-- select</option>
                                                                <option value="MNCF">MNCF</option>
                                                                <option value="POS">POS</option>
                                                            </select>
                                                        </div>
                                                    </div>                                                    
                                                    <div class="row">
                                                        <div class="col-sm-10 ms-auto">
                                                            <button type="button" class="@(cbtnsurveyprogress)" v-on:click="surveyOnprogressRumah()" @(stsbtnsurveyprogress)>On Progress</button>
                                                            <button type="button" class="@(cbtnsurveydone)" v-on:click="surveyDoneRumah()" @(stsbtnsurveydone)>Done</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div><!--end card-body-->
                                        </div>
                                    </div>
                                </div>

                                @{
                                    if (sts == "survey-done")
                                    {
                                        stsbtnappraisalunpaid = "";
                                        cbtnappraisalunpaid = "btn btn-sm btn-danger px-3 mt-2";

                                    }
                                    else
                                    {
                                        stsbtnappraisalunpaid = "disabled";
                                        cbtnappraisalunpaid = "btn btn-sm btn-outline-secondary px-3 mt-2";

                                    }

                                    if (sts == "appraisal-unpaid")
                                    {
                                        stsbtnappraisalpaid = "";
                                        cbtnappraisalpaid = "btn btn-sm btn-success px-3 mt-2";
                                    }
                                    else
                                    {
                                        stsbtnappraisalpaid = "disabled";
                                        cbtnappraisalpaid = "btn btn-sm btn-outline-secondary px-3 mt-2";
                                    }

                                    if (sts == "appraisal-paid")
                                    {
                                        stsbtnappraisalonprogress = "";
                                        cbtnappraisalonprogress = "btn btn-sm btn-warning px-3 mt-2";
                                    }
                                    else
                                    {
                                        stsbtnappraisalonprogress = "disabled";
                                        cbtnappraisalonprogress = "btn btn-sm btn-outline-secondary px-3 mt-2";
                                    }

                                    if (sts == "appraisal-onprogress")
                                    {
                                        stsbtnappraisaldone = "";
                                        cbtnappraisaldone = "btn btn-sm btn-success px-3 mt-2";
                                    }
                                    else
                                    {
                                        stsbtnappraisaldone = "disabled";
                                        cbtnappraisaldone = "btn btn-sm btn-outline-secondary px-3 mt-2";
                                    }

                                    if (sts == "survey-done" || sts == "appraisal-unpaid" || sts == "appraisal-paid" || sts == "appraisal-onprogress")
                                    {
                                        lblsts = sts;
                                        iconactivity = " bg-soft-primary";
                                        textactivity = "text-dark ";

                                    }
                                    else
                                    {
                                        lblsts = "";
                                        iconactivity = "";
                                        textactivity = "text-muted";

                                    }
                                }
                                <div class="activity-info">
                                    <div class="icon-info-activity">
                                        <i class="las la-check-circle @(iconactivity)"></i>
                                    </div>
                                    <div class="activity-info-text">
                                        <div class="card report-card">
                                            <div class="card-body">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col">
                                                        <p class="@(textactivity) mb-0 fw-semibold">
                                                            Status : @(lblsts)
                                                        </p>
                                                        <h3 class="@(textactivity) m-0">
                                                            Appraisal
                                                        </h3>
                                                    </div>
                                                </div>
                                                <hr class="hr-dashed">
                                                <form id="frmappraisal">
                                                    <input class="form-control" id="sts" value="@(sts)" hidden />
                                                    <button type="button" class="@(cbtnappraisalunpaid)" v-on:click="appraisalUnpaidRumah()" @(stsbtnappraisalunpaid)>Unpaid</button>
                                                    <button type="button" class="@(cbtnappraisalpaid)" v-on:click="appraisalPaidRumah()" @(stsbtnappraisalpaid)>Paid</button>
                                                    <button type="button" class="@(cbtnappraisalonprogress)" v-on:click="appraisalOnprogress()" @(stsbtnappraisalonprogress)>On Progress</button>
                                                    <button type="button" class="@(cbtnappraisaldone)" v-on:click="appraisalDone()" @(stsbtnappraisaldone)>Done</button>
                                                </form>
                                            </div><!--end card-body-->
                                        </div>
                                    </div>
                                </div>
                                
                                @{
                                    if (sts == "appraisal-done")
                                    {
                                        stsbtninputcore = "";
                                        cbtninputcore = "btn btn-sm btn-success px-3 mt-2";

                                        lblsts = sts;
                                        iconactivity = " bg-soft-primary";
                                        textactivity = "text-dark ";
                                    }
                                    else
                                    {
                                        stsbtninputcore = "disabled";
                                        cbtninputcore = "btn btn-sm btn-outline-secondary px-3 mt-2";

                                        lblsts = "";
                                        iconactivity = "";
                                        textactivity = "text-muted";
                                    }
                                }
                                <div class="activity-info">
                                    <div class="icon-info-activity">
                                        <i class="las la-desktop @(iconactivity)"></i>
                                    </div>
                                    <div class="activity-info-text">
                                        <div class="card report-card">
                                            <div class="card-body">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col">
                                                        <p class="@(textactivity) mb-0 fw-semibold">
                                                            Status : @(lblsts)
                                                        </p>
                                                        <h3 class="@(textactivity) m-0">
                                                            Input Core
                                                        </h3>
                                                    </div>
                                                </div>
                                                <hr class="hr-dashed">
                                                <form id="frminputcore">
                                                    <input class="form-control" id="sts" value="@(sts)" hidden />
                                                    <button type="button" class="@(cbtninputcore)" v-on:click="submitInputCoreRumah()" @(stsbtninputcore)>Submit MSIX</button>
                                                </form>
                                            </div><!--end card-body-->
                                        </div>
                                    </div>
                                </div>

                                @{
                                    if (sts == "core-submit")
                                    {
                                        stsbtncommitteeapprove = "";
                                        stsbtncommitteereject = "";
                                        stsbtncommitteecancel = "";
                                        cbtncommitteeapprove = "btn btn-sm btn-success px-3 mt-2";
                                        cbtncommitteereject = "btn btn-sm btn-danger px-3 mt-2";
                                        cbtncommitteecancel = "btn btn-sm btn-warning px-3 mt-2";

                                        lblsts = sts;
                                        iconactivity = " bg-soft-primary";
                                        textactivity = "text-dark ";
                                    }
                                    else
                                    {
                                        stsbtncommitteeapprove = "disabled";
                                        stsbtncommitteereject = "disabled";
                                        stsbtncommitteecancel = "disabled";
                                        cbtncommitteeapprove = "btn btn-sm btn-outline-secondary px-3 mt-2";
                                        cbtncommitteereject = "btn btn-sm btn-outline-secondary px-3 mt-2";
                                        cbtncommitteecancel = "btn btn-sm btn-outline-secondary px-3 mt-2";

                                        lblsts = "";
                                        iconactivity = "";
                                        textactivity = "text-muted";
                                    }
                                }
                                <div class="activity-info">
                                    <div class="icon-info-activity">
                                        <i class="las la-user-check @(iconactivity)"></i>
                                    </div>
                                    <div class="activity-info-text">
                                        <div class="card report-card">
                                            <div class="card-body">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col">
                                                        <p class="@(textactivity) mb-0 fw-semibold">
                                                            Status : @(lblsts)
                                                        </p>
                                                        <h3 class="@(textactivity) m-0">
                                                            Committee
                                                        </h3>
                                                    </div>
                                                </div>
                                                <hr class="hr-dashed">

                                                <form id="frmcommittee">
                                                    <input class="form-control" id="sts" value="@(sts)" hidden />
                                                    <div class="mb-3 row">
                                                        <label for="horizontalInput1" class="col-sm-2 form-label align-self-center mb-lg-0">Contract Number</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="contractno_msix" value="" @(stsbtncommitteeapprove) />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-10 ms-auto">
                                                            <button type="button" class="@(cbtncommitteeapprove)" v-on:click="committeeApprovedRumah()" @(stsbtncommitteeapprove)>Approved</button>
                                                            <button type="button" class="@(cbtncommitteereject)" v-on:click="committeeRejectRumah()" @(stsbtncommitteereject)>Reject</button>
                                                            <button type="button" class="@(cbtncommitteecancel)" v-on:click="committeeCancelRumah()" @(stsbtncommitteecancel)>Cancel</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div><!--end card-body-->
                                        </div>
                                    </div>
                                </div>

                                @{
                                    if (sts == "approval-approved")
                                    {
                                        stsbtnsignonprogress = "";
                                        cbtnsignonprogress = "btn btn-sm btn-warning px-3 mt-2";
                                    }
                                    else
                                    {
                                        stsbtnsignonprogress = "disabled";
                                        cbtnsignonprogress = "btn btn-sm btn-outline-secondary px-3 mt-2";
                                    }

                                    if (sts == "sign-onprogress")
                                    {
                                        stsbtnsigndone = "";
                                        cbtnsigndone = "btn btn-sm btn-success px-3 mt-2";
                                    }
                                    else
                                    {
                                        stsbtnsigndone = "disabled";
                                        cbtnsigndone = "btn btn-sm btn-outline-secondary px-3 mt-2";
                                    }

                                    if (sts == "approval-approved" || sts == "sign-onprogress")
                                    {
                                        lblsts = sts;
                                        iconactivity = " bg-soft-primary";
                                        textactivity = "text-dark ";
                                    }
                                    else
                                    {
                                        lblsts = "";
                                        iconactivity = "";
                                        textactivity = "text-muted";
                                    }
                                }
                                <div class="activity-info">
                                    <div class="icon-info-activity">
                                        <i class="las la-pen-alt @(iconactivity)"></i>
                                    </div>
                                    <div class="activity-info-text">
                                        <div class="card report-card">
                                            <div class="card-body">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col">
                                                        <p class="@(textactivity) mb-0 fw-semibold">
                                                            Status : @(lblsts)
                                                        </p>
                                                        <h3 class="@(textactivity) m-0">
                                                            Sign
                                                        </h3>
                                                    </div>
                                                </div>
                                                <hr class="hr-dashed">
                                                <form id="frmsigndata">
                                                    <input class="form-control" id="sts" value="@(sts)" hidden />
                                                    <button type="button" class="@(cbtnsignonprogress)" v-on:click="signOnprogressRumah()" @(stsbtnsignonprogress)>On Progress</button>
                                                    <button type="button" class="@(cbtnsigndone)" v-on:click="signDoneRumah()" @(stsbtnsigndone)>Done</button>
                                                </form>
                                            </div><!--end card-body-->
                                        </div>
                                    </div>
                                </div>

                                @{
                                    if (sts == "sign-done")
                                    {
                                        stsbtngoliveactive = "";
                                        cbtngoliveactive = "btn btn-sm btn-primary px-3 mt-2";
                                    }
                                    else
                                    {
                                        stsbtngoliveactive = "disabled";
                                        cbtngoliveactive = "btn btn-sm btn-outline-secondary px-3 mt-2";
                                    }

                                    if (sts == "golive-active")
                                    {
                                        stsbtngolivedisburse = "";
                                        cbtngolivedisburse = "btn btn-sm btn-success px-3 mt-2";
                                    }
                                    else
                                    {
                                        stsbtngolivedisburse = "disabled";
                                        cbtngolivedisburse = "btn btn-sm btn-outline-secondary px-3 mt-2";
                                    }

                                    if (sts == "sign-done" || sts == "golive-active")
                                    {
                                        lblsts = sts;
                                        iconactivity = " bg-soft-primary";
                                        textactivity = "text-dark ";
                                    }
                                    else
                                    {
                                        lblsts = "";
                                        iconactivity = "";
                                        textactivity = "text-muted";
                                    }
                                }
                                <div class="activity-info">
                                    <div class="icon-info-activity">
                                        <i class="las la-money-bill @(iconactivity)"></i>
                                    </div>
                                    <div class="activity-info-text">
                                        <div class="card report-card">
                                            <div class="card-body">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col">
                                                        <p class="@(textactivity) mb-0 fw-semibold">
                                                            Status : @(lblsts)                                                            
                                                        </p>
                                                        <h3 class="@(textactivity) m-0">
                                                            Disburse
                                                        </h3>
                                                    </div>
                                                </div>
                                                <hr class="hr-dashed">
                                                <form id="frmdisburse">
                                                    <input class="form-control" id="sts" value="@(sts)" hidden />
                                                    <button type="button" class="@(cbtngoliveactive)" v-on:click="goliveActiveRumah()" @(stsbtngoliveactive)>Active</button>
                                                    <button type="button" class="@(cbtngolivedisburse)" v-on:click="goliveDisburseRumah()" @(stsbtngolivedisburse)>Disburse</button>
                                                </form>
                                            </div><!--end card-body-->
                                        </div>
                                    </div>
                                </div>
                                
                                @{
                                    if (sts == "golive-disburse")
                                    {
                                        stsbtnterminate = "";
                                        cbtnterminate = "btn btn-sm btn-primary px-3 mt-2";

                                        lblsts = sts;
                                        iconactivity = " bg-soft-primary";
                                        textactivity = "text-dark ";
                                    }
                                    else
                                    {
                                        stsbtnterminate = "disabled";
                                        cbtnterminate = "btn btn-sm btn-outline-secondary px-3 mt-2";

                                        lblsts = "";
                                        iconactivity = "";
                                        textactivity = "text-muted";
                                    }
                                }
                                <div class="activity-info">
                                    <div class="icon-info-activity">
                                        <i class="las la-money-bill-wave @(iconactivity)"></i>
                                    </div>
                                    <div class="activity-info-text">
                                        <div class="card report-card">
                                            <div class="card-body">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col">
                                                        <p class="@(textactivity) mb-0 fw-semibold">
                                                            Status : @(lblsts)
                                                        </p>
                                                        <h3 class="@(textactivity) m-0">
                                                            Loan Terminate
                                                        </h3>
                                                    </div>
                                                </div>
                                                <hr class="hr-dashed">
                                                <form id="frmterminate">
                                                    <input class="form-control" id="sts" value="@(sts)" hidden />
                                                    <button type="button" class="@(cbtnterminate)" v-on:click="loanTerminateRumah()" @(stsbtnterminate)>Submit</button>
                                                </form>
                                            </div><!--end card-body-->
                                        </div>
                                    </div>
                                </div>
                            </div><!--end activity-->
                        </div>

                        @*<div class="main-timeline mt-3">
                            <div class="timeline">
                                <span class="timeline-icon"></span>
                                <span class="year">Entry Data</span>
                                <div class="timeline-content">
                                    <p class="description">
                                        Status :
                                        <input class="form-control" id="sts" value="@(sts)" readonly />
                                    </p>
                                </div>
                            </div>

                            <div class="timeline">
                                <span class="timeline-icon"></span>
                                <span class="year">Survey Data</span>
                                <div class="timeline-content">
                                    <p class="description">
                                        Status :
                                        @{
                                            if (sts == "push-to-mfin")
                                            {
                                                stsbtnsurveyprogress = "";
                                            }
                                            else
                                            {
                                                stsbtnsurveyprogress = "disabled";
                                            }

                                            if (sts == "survey-onprogress")
                                            {
                                                stsbtnsurveydone = "";
                                            }
                                            else
                                            {
                                                stsbtnsurveydone = "disabled";
                                            }
                                        }
                                        <br />
                                        <form id="frmsurveydata">
                                            <input class="form-control" id="sts" value="@(sts)" readonly />
                                            <select class="form-control" id="surveyor" name="surveyor">
                                                <option value="">-- select</option>
                                                <option value="MNCF">MNCF</option>
                                                <option value="POS">POS</option>
                                            </select>
                                            <button type="button" class="btn btn-warning btn-block" v-on:click="surveyOnprogressRumah()" @(stsbtnsurveyprogress)>On progress</button>
                                            <button type="button" class="btn btn-success btn-block" v-on:click="surveyDoneRumah()" @(stsbtnsurveydone)>Done</button>
                                        </form>
                                    </p>
                                </div>
                            </div>

                            <div class="timeline">
                                <span class="timeline-icon"></span>
                                <span class="year">Appraisal</span>
                                <div class="timeline-content">
                                    <p class="description">
                                        Status :
                                        @{
                                            if (sts == "survey-done")
                                            {
                                                stsbtnappraisalunpaid = "";

                                            }
                                            else
                                            {
                                                stsbtnappraisalunpaid = "disabled";

                                            }

                                            if (sts == "appraisal-unpaid")
                                            {
                                                stsbtnappraisalpaid = "";
                                            }
                                            else
                                            {
                                                stsbtnappraisalpaid = "disabled";
                                            }

                                            if (sts == "appraisal-paid")
                                            {
                                                stsbtnappraisalonprogress = "";
                                            }
                                            else
                                            {
                                                stsbtnappraisalonprogress = "disabled";
                                            }

                                            if (sts == "appraisal-onprogress")
                                            {
                                                stsbtnappraisaldone = "";
                                            }
                                            else
                                            {
                                                stsbtnappraisaldone = "disabled";
                                            }
                                        }
                                        <br />
                                        <form id="frmappraisal">
                                            <input class="form-control" id="sts" value="@(sts)" readonly />
                                            <button type="button" class="btn btn-danger btn-block" v-on:click="appraisalUnpaidRumah()" @(stsbtnappraisalunpaid)>Unpaid</button>
                                            <button type="button" class="btn btn-success btn-block" v-on:click="appraisalPaidRumah()" @(stsbtnappraisalpaid)>Paid</button>
                                            <button type="button" class="btn btn-warning btn-block" v-on:click="appraisalOnprogress()" @(stsbtnappraisalonprogress)>On progress</button>
                                            <button type="button" class="btn btn-success btn-block" v-on:click="appraisalDone()" @(stsbtnappraisaldone)>Done</button>
                                        </form>
                                    </p>
                                </div>
                            </div>

                            <div class="timeline">
                                <span class="timeline-icon"></span>
                                <span class="year">Input Core</span>
                                <div class="timeline-content">
                                    <p class="description">
                                        Status :
                                        @{
                                            if (sts == "appraisal-done")
                                            {
                                                stsbtninputcore = "";
                                            }
                                            else
                                            {
                                                stsbtninputcore = "disabled";
                                            }
                                        }
                                        <form id="frminputcore">
                                            <input class="form-control" id="sts" value="@(sts)" readonly /><br />                                            
                                            <button type="button" class="btn btn-success btn-block" v-on:click="submitInputCoreRumah()" @(stsbtninputcore)>Submit</button>
                                        </form>
                                    </p>
                                </div>
                            </div>

                            <div class="timeline">
                                <span class="timeline-icon"></span>
                                <span class="year">Committee</span>
                                <div class="timeline-content">
                                    <p class="description">
                                        Status :
                                        @{
                                            if (sts == "core-submit")
                                            {
                                                stsbtncommitteeapprove = "";
                                                stsbtncommitteereject = "";
                                                stsbtncommitteecancel = "";
                                                stsbtninputcore = "";
                                            }
                                            else
                                            {
                                                stsbtncommitteeapprove = "disabled";
                                                stsbtncommitteereject = "disabled";
                                                stsbtncommitteecancel = "disabled";
                                                stsbtninputcore = "disabled";
                                            }
                                        }
                                        <br />
                                        <form id="frmcommittee">
                                            <input class="form-control" id="sts" value="@(sts)" readonly /><br />
                                            Contract No. :<br />
                                            <input class="form-control" id="contractno_msix" value="@(Model.ContractNo)" @(stsbtninputcore) />
                                            <button type="button" class="btn btn-success btn-block" v-on:click="committeeApprovedRumah()" @(stsbtncommitteeapprove)>Approved</button>
                                            <button type="button" class="btn btn-danger btn-block" v-on:click="committeeRejectRumah()" @(stsbtncommitteereject)>Reject</button>
                                            <button type="button" class="btn btn-secondary btn-block" v-on:click="committeeCancelRumah()" @(stsbtncommitteecancel)>Cancel</button>
                                        </form>
                                    </p>
                                </div>
                            </div>

                            <div class="timeline">
                                <span class="timeline-icon"></span>
                                <span class="year">Sign</span>
                                <div class="timeline-content">
                                    <p class="description">
                                        Status :
                                        @{
                                            if (sts == "approval-approved")
                                            {
                                                stsbtnsignonprogress = "";
                                            }
                                            else
                                            {
                                                stsbtnsignonprogress = "disabled";
                                            }

                                            if (sts == "sign-onprogress")
                                            {
                                                stsbtnsigndone = "";
                                            }
                                            else
                                            {
                                                stsbtnsigndone = "disabled";
                                            }
                                        }
                                        <br />
                                        <form id="frmsigndata">
                                            <input class="form-control" id="sts" value="@(sts)" readonly />
                                            <button type="button" class="btn btn-warning btn-block" v-on:click="signOnprogressRumah()" @(stsbtnsignonprogress)>On progress</button>
                                            <button type="button" class="btn btn-success btn-block" v-on:click="signDoneRumah()" @(stsbtnsigndone)>Done</button>
                                        </form>
                                    </p>
                                </div>
                            </div>

                            <div class="timeline">
                                <span class="timeline-icon"></span>
                                <span class="year">Disburse</span>
                                <div class="timeline-content">
                                    <p class="description">
                                        Status :
                                        @{
                                            if (sts == "sign-done")
                                            {
                                                stsbtngoliveactive = "";
                                            }
                                            else
                                            {
                                                stsbtngoliveactive = "disabled";
                                            }

                                            if (sts == "golive-active")
                                            {
                                                stsbtngolivedisburse = "";
                                            }
                                            else
                                            {
                                                stsbtngolivedisburse = "disabled";
                                            }
                                        }
                                        <br />
                                        <form id="frmdisburse">
                                            <input class="form-control" id="sts" value="@(sts)" readonly />
                                            <button type="button" class="btn btn-primary btn-block" v-on:click="goliveActiveRumah()" @(stsbtngoliveactive)>Active</button>
                                            <button type="button" class="btn btn-success btn-block" v-on:click="goliveDisburseRumah()" @(stsbtngolivedisburse)>Disburse</button>
                                        </form>
                                    </p>
                                </div>
                            </div>

                            <div class="timeline">
                                <span class="timeline-icon"></span>
                                <span class="year">Loan Terminate</span>
                                <div class="timeline-content">
                                    <p class="description">
                                        Status :
                                        @{
                                            if (sts == "golive-disburse")
                                            {
                                                stsbtnterminate = "";
                                            }
                                            else
                                            {
                                                stsbtnterminate = "disabled";
                                            }
                                        }
                                        <form id="frmterminate">
                                            <input class="form-control" id="sts" value="@(sts)" readonly />
                                            <button type="button" class="btn btn-primary btn-block" v-on:click="loanTerminateRumah()" @(stsbtnterminate)>Submit</button>
                                        </form>
                                    </p>
                                </div>
                            </div>

                        </div>*@
                    </div>  <!--end card-body-->
                </div><!--end card-->
            </div>
        </div>
    </div>
</div>