@using SurveyConsole.Models.FACEDB;
@model SiapDr;
@{
    String siapurl = TempData["SiapUrl"].ToString();
    String sts = Model.MfinState;

    String lblsts = "";

    String stsbtnsurveyprogress = "";
    String stsbtnsurveydone = "";
    String stsbtnappraisalunpaid = "";
    String stsbtnappraisalpaid = "";
    String stsbtnappraisalonprogress = "";
    String stsbtnappraisaldone = "";
    String stsbtninputcore = "";
    String stsbtncommitteeapprove = "";
    String stsbtncommitteereject = "";
    String stsbtncommitteecancel = "";
    String stsbtnterminate = "";
    String stsbtnsignonprogress = "";
    String stsbtnsigndone = "";
    String stsbtngoliveactive = "";
    String stsbtngolivedisburse = "";
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="datadiri-tab" data-toggle="tab" href="#datadiri" role="tab" aria-controls="datadiri" aria-selected="true">Data Diri</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="financing-tab" data-toggle="tab" href="#financing" role="tab" aria-controls="financing" aria-selected="false">Data Pembiayaan & Unit</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <br />
    <div class="tab-pane fade show active" id="datadiri" role="tabpanel" aria-labelledby="datadiri-tab">
        <div class="row">
            <div class="col-md-4">
                <div class="form">
                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">Nama Client</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="name" value="@Model.FullName" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nik" class="col-sm-4 col-form-label">NIK Client</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="nik" value="@Model.NikNumber" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ttl" class="col-sm-4 col-form-label">Tempat/Tanggal Lahir</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="ttl" value="@(Model.PlaceOfBirth + ", " + (Model.BirthDate.HasValue ? Model.BirthDate.Value.ToString("dd-MM-yyyy") : ""))" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mothername" class="col-sm-4 col-form-label">Nama Ibu Kandung</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="mothername" value="@(Model.MothersName)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="spouse" class="col-sm-4 col-form-label">Nama Pasangan</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="spouse" value="@(Model.SpouseName)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="spousenik" class="col-sm-4 col-form-label">NIK Pasangan</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="spousenik" value="@(Model.SpouseNikNumber)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="jobtype" class="col-sm-4 col-form-label">Bekerja/Tidak Bekerja</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="jobtype" value="@(Model.JobType)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="company" class="col-sm-4 col-form-label">Nama Perusahaan</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="company" value="@(Model.CompanyName)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="company" class="col-sm-4 col-form-label">Nama Perusahaan</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="company" value="@(Model.CompanyName)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="companyaddr" class="col-sm-4 col-form-label">Nama Perusahaan</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="companyaddr" value="@(Model.CompanyAddress)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="companyphone" class="col-sm-4 col-form-label">No Telp Perusahaan</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="companyphone" value="@(Model.CompanyPhone)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="income" class="col-sm-4 col-form-label">Nett Pendapatan / Bulan</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="income" value="@(Model.MonthlyIncome)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="email" value="@(Model.Email)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="npwp" class="col-sm-4 col-form-label">No NPWP</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="npwp" value="@(Model.NpwpNumber)" readonly disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form">
                    <div class="form-group row">
                        <label for="address" class="col-sm-4 col-form-label">Alamat Client</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="address" value="@(Model.DomAddress)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="village" class="col-sm-4 col-form-label">Kelurahan</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="village" value="@(Model.DomSubdistrict2)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="subdistrict" class="col-sm-4 col-form-label">Kecamatan</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="subdistrict" value="@(Model.DomSubdistrict1)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="province" class="col-sm-4 col-form-label">Provinsi</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="province" value="@(Model.DomProvince)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="postalcode" class="col-sm-4 col-form-label">Kode Pos</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="postalcode" value="@(Model.DomPostalCode)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ownership" class="col-sm-4 col-form-label">Jenis Domisili</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="ownership" value="@(Model.DomOwnership)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="plnnumber" class="col-sm-4 col-form-label">No Meter Listrik</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="plnnumber" value="@(Model.PlnNumber)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pamnumber" class="col-sm-4 col-form-label">No Meter PAM</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="pamnumber" value="@(Model.PamNumber)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="bankaccountname" class="col-sm-4 col-form-label">Bank Account Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="bankaccountname" value="@(Model.BankAccountName)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="bankname" class="col-sm-4 col-form-label">Bank Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="bankname" value="@(Model.BankName)" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="bankaccountnumber" class="col-sm-4 col-form-label">Bank Account Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="bankaccountnumber" value="@(Model.BankAccountNumber)" readonly disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="financing" role="tabpanel" aria-labelledby="financing-tab">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form">
                            <div class="form-group row">
                                <label for="siapid" class="col-sm-4 col-form-label">Siap ID</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="siapid" value="@(Model.SiapId)" readonly disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="siapid" class="col-sm-4 col-form-label">Contract No.</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="contractno" value="@(Model.ContractNo)" readonly disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="principal" class="col-sm-4 col-form-label">Pokok Hutang</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="principal" value="@(Model.SubmittedAmount)" readonly disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fee" class="col-sm-4 col-form-label">Biaya Admin</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="fee" value="@(Model.Fee)" readonly disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="tenor" class="col-sm-4 col-form-label">Tenor</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="tenor" value="@(Model.Tenor)" readonly disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="installment" class="col-sm-4 col-form-label">Angsuran</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="installment" value="@(Model.EstimatedInstallment)" readonly disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="installment" class="col-sm-4 col-form-label">Disbursement</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="installment" value="@(Model.EstimatedDisbursement)" readonly disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pbb" class="col-sm-4 col-form-label">Foto PBB</label>
                                <div class="col-sm-8">
                                    <a href="@(siapurl + Model.PbbPhoto.Replace("\\", "/"))" target="_blank">Foto PBB</a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pbb" class="col-sm-4 col-form-label">Foto Unit</label>
                                <div class="col-sm-8">
                                    <a href="@(siapurl + Model.HousePhoto.Replace("\\", "/"))" target="_blank">Foto Unit</a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pbb" class="col-sm-4 col-form-label">Foto NPWP</label>
                                <div class="col-sm-8">
                                    <a href="@(siapurl + Model.NpwpPhoto.Replace("\\", "/"))" target="_blank">Foto NPWP</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Tracking Status</h4>
                    </div><!--end card-header-->
                    <div class="card-body">
                        <div class="main-timeline mt-3">
                            <div class="timeline">
                                <span class="timeline-icon"></span>
                                <span class="year">Entry Data</span>
                                <div class="timeline-content">
                                    <p class="description">
                                        Status :
                                        <input class="form-control" id="sts" value="@(sts)" readonly />
                                    </p>
                                </div>
                            </div>

                            <div class="timeline">
                                <span class="timeline-icon"></span>
                                <span class="year">Survey Data</span>
                                <div class="timeline-content">
                                    <p class="description">
                                        Status :
                                        @{
                                            if (sts == "push-to-mfin")
                                            {
                                                stsbtnsurveyprogress = "";
                                            }
                                            else
                                            {
                                                stsbtnsurveyprogress = "disabled";
                                            }

                                            if (sts == "survey-onprogress")
                                            {
                                                stsbtnsurveydone = "";
                                            }
                                            else
                                            {
                                                stsbtnsurveydone = "disabled";
                                            }
                                        }
                                        <br />
                                        <form id="frmsurveydata">
                                            <input class="form-control" id="sts" value="@(sts)" readonly />
                                            <select class="form-control" id="surveyor" name="surveyor">
                                                <option value="">-- select</option>
                                                <option value="MNCF">MNCF</option>
                                                <option value="POS">POS</option>
                                            </select>
                                            <button type="button" class="btn btn-warning btn-block" v-on:click="surveyOnprogressRumah()" @(stsbtnsurveyprogress)>On progress</button>
                                            <button type="button" class="btn btn-success btn-block" v-on:click="surveyDoneRumah()" @(stsbtnsurveydone)>Done</button>
                                        </form>
                                    </p>
                                </div>
                            </div>

                            <div class="timeline">
                                <span class="timeline-icon"></span>
                                <span class="year">Appraisal</span>
                                <div class="timeline-content">
                                    <p class="description">
                                        Status :
                                        @{
                                            if (sts == "survey-done")
                                            {
                                                stsbtnappraisalunpaid = "";

                                            }
                                            else
                                            {
                                                stsbtnappraisalunpaid = "disabled";

                                            }

                                            if (sts == "appraisal-unpaid")
                                            {
                                                stsbtnappraisalpaid = "";
                                            }
                                            else
                                            {
                                                stsbtnappraisalpaid = "disabled";
                                            }

                                            if (sts == "appraisal-paid")
                                            {
                                                stsbtnappraisalonprogress = "";
                                            }
                                            else
                                            {
                                                stsbtnappraisalonprogress = "disabled";
                                            }

                                            if (sts == "appraisal-onprogress")
                                            {
                                                stsbtnappraisaldone = "";
                                            }
                                            else
                                            {
                                                stsbtnappraisaldone = "disabled";
                                            }
                                        }
                                        <br />
                                        <form id="frmappraisal">
                                            <input class="form-control" id="sts" value="@(sts)" readonly />
                                            <button type="button" class="btn btn-danger btn-block" v-on:click="appraisalUnpaidRumah()" @(stsbtnappraisalunpaid)>Unpaid</button>
                                            <button type="button" class="btn btn-success btn-block" v-on:click="appraisalPaidRumah()" @(stsbtnappraisalpaid)>Paid</button>
                                            <button type="button" class="btn btn-warning btn-block" v-on:click="appraisalOnprogress()" @(stsbtnappraisalonprogress)>On progress</button>
                                            <button type="button" class="btn btn-success btn-block" v-on:click="appraisalDone()" @(stsbtnappraisaldone)>Done</button>
                                        </form>
                                    </p>
                                </div>
                            </div>

                            <div class="timeline">
                                <span class="timeline-icon"></span>
                                <span class="year">Input Core</span>
                                <div class="timeline-content">
                                    <p class="description">
                                        Status :
                                        @{
                                            if (sts == "appraisal-done")
                                            {
                                                stsbtninputcore = "";
                                            }
                                            else
                                            {
                                                stsbtninputcore = "disabled";
                                            }
                                        }
                                        <form id="frminputcore">
                                            <input class="form-control" id="sts" value="@(sts)" readonly /><br />
                                            Contract No. :<br />
                                            <input class="form-control" id="contractno_msix" value="" @(stsbtninputcore) />
                                            <button type="button" class="btn btn-success btn-block" v-on:click="submitInputCoreRumah()" @(stsbtninputcore)>Submit</button>
                                        </form>
                                    </p>
                                </div>
                            </div>

                            <div class="timeline">
                                <span class="timeline-icon"></span>
                                <span class="year">Committee</span>
                                <div class="timeline-content">
                                    <p class="description">
                                        Status :
                                        @{
                                            if (sts == "core-submit")
                                            {
                                                stsbtncommitteeapprove = "";
                                                stsbtncommitteereject = "";
                                                stsbtncommitteecancel = "";
                                            }
                                            else
                                            {
                                                stsbtncommitteeapprove = "disabled";
                                                stsbtncommitteereject = "disabled";
                                                stsbtncommitteecancel = "disabled";
                                            }
                                        }
                                        <br />
                                        <form id="frmcommittee">
                                            <input class="form-control" id="sts" value="@(sts)" readonly /><br />
                                            <button type="button" class="btn btn-success btn-block" v-on:click="committeeApprovedRumah()" @(stsbtncommitteeapprove)>Approved</button>
                                            <button type="button" class="btn btn-danger btn-block" v-on:click="committeeRejectRumah()" @(stsbtncommitteereject)>Reject</button>
                                            <button type="button" class="btn btn-secondary btn-block" v-on:click="committeeCancelRumah()" @(stsbtncommitteecancel)>Cancel</button>
                                        </form>
                                    </p>
                                </div>
                            </div>

                            <div class="timeline">
                                <span class="timeline-icon"></span>
                                <span class="year">Sign</span>
                                <div class="timeline-content">
                                    <p class="description">
                                        Status :
                                        @{
                                            if (sts == "approval-approved")
                                            {
                                                stsbtnsignonprogress = "";
                                            }
                                            else
                                            {
                                                stsbtnsignonprogress = "disabled";
                                            }

                                            if (sts == "sign-onprogress")
                                            {
                                                stsbtnsigndone = "";
                                            }
                                            else
                                            {
                                                stsbtnsigndone = "disabled";
                                            }
                                        }
                                        <br />
                                        <form id="frmsigndata">
                                            <input class="form-control" id="sts" value="@(sts)" readonly />
                                            <button type="button" class="btn btn-warning btn-block" v-on:click="signOnprogressRumah()" @(stsbtnsignonprogress)>On progress</button>
                                            <button type="button" class="btn btn-success btn-block" v-on:click="signDoneRumah()" @(stsbtnsigndone)>Done</button>
                                        </form>
                                    </p>
                                </div>
                            </div>

                            <div class="timeline">
                                <span class="timeline-icon"></span>
                                <span class="year">Disburse</span>
                                <div class="timeline-content">
                                    <p class="description">
                                        Status :
                                        @{
                                            if (sts == "sign-done")
                                            {
                                                stsbtngoliveactive = "";
                                            }
                                            else
                                            {
                                                stsbtngoliveactive = "disabled";
                                            }

                                            if (sts == "golive-active")
                                            {
                                                stsbtngolivedisburse = "";
                                            }
                                            else
                                            {
                                                stsbtngolivedisburse = "disabled";
                                            }
                                        }
                                        <br />
                                        <form id="frmdisburse">
                                            <input class="form-control" id="sts" value="@(sts)" readonly />
                                            <button type="button" class="btn btn-primary btn-block" v-on:click="goliveActiveRumah()" @(stsbtngoliveactive)>Active</button>
                                            <button type="button" class="btn btn-success btn-block" v-on:click="goliveDisburseRumah()" @(stsbtngolivedisburse)>Disburse</button>
                                        </form>
                                    </p>
                                </div>
                            </div>

                            <div class="timeline">
                                <span class="timeline-icon"></span>
                                <span class="year">Loan Terminate</span>
                                <div class="timeline-content">
                                    <p class="description">
                                        Status :
                                        @{
                                            if (sts == "golive-disburse")
                                            {
                                                stsbtnterminate = "";
                                            }
                                            else
                                            {
                                                stsbtnterminate = "disabled";
                                            }
                                        }
                                        <form id="frmterminate">
                                            <input class="form-control" id="sts" value="@(sts)" readonly />
                                            <button type="button" class="btn btn-primary btn-block" v-on:click="loanTerminateRumah()" @(stsbtnterminate)>Submit</button>
                                        </form>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>  <!--end card-body-->
                </div><!--end card-->
            </div>
        </div>
    </div>
</div>